body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #695e46
}

a {
  color: #00B7FF;
}

h1 {
  color: #deceab;
}

p{
  color: #262017;
  font-family: "fantasy", Papyrus, serif;
  font-weight: bold;
  font-size: 20pt;
}